head{
    background-color: rgb(173, 108, 235);
    color: rgb(109, 109, 231);
    text-align: center;
}

main{
    background-color: rgb(100, 100, 219);
    color: rgb(179, 115, 240);
    text-align: center;
}