head{
    background-color: rgb(142, 42, 235);
    color: rgb(118, 118, 240);
    text-align: center;
}

main{
    background-color: rgb(118, 118, 240);
    color: rgb(142, 42, 235);
    text-align: center;
}