
header{
    background-color: rgb(248, 245, 252);
    color: rgb(8, 5, 14);
    text-align: center;
}

main{
    background-color:rgb(162, 161, 165);
    color:  rgb(8,5,14);
    text-align: center;
}

img {
    width:  250px;
    height: 250px;
}